<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no;user-scalable=0;"/>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
	

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
  

  <h1 id="titulo">MENSAJES</h1>
  <div id="remitente"></div>
  <div id="texto"></div>
  <div id="mensajes"></div>
	<input type="text" id="usuario" placeholder="usuario" required>
	<button id="u1">mati</button>
	<button id="u2">tuky</button>
	<button id="u3">chicha</button>
	<input type="text" id="mensaje" placeholder="mensaje" required>
	<button id="sendBtn">Enviar</button>
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
